name: Build and Push Docker Images

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build and Push WebApp Image
      run: |
        docker build -t ${{ secrets.ECR_REPOSITORY_WEBAPP }}:latest .
        docker push ${{ secrets.ECR_REPOSITORY_WEBAPP }}:latest

    - name: Build and Push MySQL Image
      run: |
        docker build -t ${{ secrets.ECR_REPOSITORY_MYSQL }}:latest -f Dockerfile_mysql .
        docker push ${{ secrets.ECR_REPOSITORY_MYSQL }}:latest
