name: Build and Push Docker Images

on:
  push:
    branches: [ master ]

env:
  ECR_REGISTRY: 891377234300.dkr.ecr.us-east-1.amazonaws.com
  ECR_REPOSITORY_WEBAPP: assignment1-webapp
  ECR_REPOSITORY_MYSQL: assignment1-mysql

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Amazon ECR
      run: |
        echo "${{ secrets.ECR_PASSWORD }}" | docker login --username AWS --password-stdin ${{ env.ECR_REGISTRY }}

    - name: Build and Push WebApp Image
      run: |
        docker build -t ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY_WEBAPP }}:latest .
        docker push ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY_WEBAPP }}:latest

    - name: Build and Push MySQL Image
      run: |
        docker build -t ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY_MYSQL }}:latest -f Dockerfile_mysql .
        docker push ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY_MYSQL }}:latest
